# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin
MONGO_DB_NAME=sgi_db

# PostgreSQL
POSTGRES_DB=sgi_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Django
DJANGO_SECRET_KEY=your-secret-key-change-in-production

# FastAPI
SECRET_KEY=your-secret-key-change-in-production

# Frontend
API_URL=http://localhost/api/v1